/**
#### base font size
**/

html,body{font-size: 16px;}

/**
######## background colors ########
**/

.bg-gray{
	background: #cccccc;
}
.bg-white{
	background: #fff;
}
.bg-smoke{
	background: #eaeaea;
}

.body-gray {
	padding: 10px;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #333333;
}

/**
######## font colors ########
**/

.white-color{
	color: #ffffff;
}
/**
######## border colors ########
**/

.border-1-gray{
	border: 1px solid #cccccc;
}

.border-radius-10{
	border-radius: 10px;
}

.container {
	max-width: 800px;
	height: auto;
	margin: 2% auto;
}
.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;

	padding: 10px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}
.content {
	position: relative;
	padding: 10px;
	max-width: 450px;
	display: block;
	margin: 0 auto;
	font-size: 0.9rem;
}
.footer {
	padding: 10px;
	text-align: right;
}
.footer a:hover {
	text-decoration: underline;
}
.label_div {
	display: inline-block;
	margin-right: 2%;

}
.input_container {
	display: inline-block;
	padding:15px;
	max-width: 50%;
}
.ui-autocomplete-input{
	padding: 3px;
	border-radius: 0;
}

.input_container ul li {
	padding: 2px;
}

.input_container ul li:hover {
	background: #eaeaea;
	font-weight: normal;

}
.ui-menu-item{
	font-size: 0.9rem;
}
#suburb_list_id {
	display: none;
}


@media only screen and (max-width: 820px) {
	.container{margin-left: 15px; margin-right: 15px;}
}

@media only screen and (max-width: 360px) {
	.content{max-width: 100%}
	.label_div{display:block; text-align: center}
	.input_container{display: block; max-width: 100%}
	.ui-autocomplete-input{width: 100%}
}