.bg-gray {
	padding: 10px;
	background: #eaeaea;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #333333;
}
.container {
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	text-align: left;
}
.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 10px;
	min-height: 100px;
}
.footer {
	padding: 10px;
	text-align: right;
}
.footer a:hover {
	text-decoration: underline;
}
.label_div {
	display: inline-block;
	margin-right: 2%;
}
.input_container {
	display: inline-block;
	padding:15px;
	max-width: 50%;
}
.ui-autocomplete-input{
	padding: 3px;
	border-radius: 0;
}

.input_container ul li {
	padding: 2px;
}

.input_container ul li:hover {
	background: #eaeaea;
}
#suburb_list_id {
	display: none;
}